{% extends "base.html" %}
{% block title %}Personal task{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col md-4">
         <div class="jumbotron" p-3>
            <h2><button type="button" class="btn btn-success " 
                data-toggle="modal" data-target="#mymodal">Add new task</button></h2>

         </div> 
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card shadow ">
        <div class="card-header">Manage Task</div>
        <div class="card-body">
            <form action="/add" method="POST">
                <label for="">task title</label>
                <input
                    type="text"
                    name="title"
                    class="form-control"
                    placeholder="Enter your title here.."
                />
                <label for="">task</label>
                <input
                    type="text"
                    name="task"
                    class="form-control"
                    placeholder="Enter your task here.."
                />
                <label for="">Description(optional)</label>
                <input
                    type="text"
                    name="description"
                    class="form-control"
                    placeholder="Enter your task description here.."
                />
                <label for="">Start date</label>
                <input
                    type="date"
                    name="start_date"
                    class="form-control"
                    placeholder="Enter start date here.."
                />
                <label for="">Deadline</label>
                <input
                    type="date"
                    name="deadline"
                    class="form-control"
                    placeholder="Enter due date here.."
                />
                <input
                    type="submit"
                    value="Add new task"
                    class="btn btn-primary btn-sm mt-2"
                />
            </form>
        </div>
    </div>
</div>
{% for task in tasks %}
			<div class="border-start border-5 shadow mt-3">
				<div class="card-body">
					<h5> {{ task.id }} - {{ task.title }} - {{task.task}}-{{task.description}}-{{task.tart_date}}- {{task.deadline}} </h5>
					{% if task.complete %}
					<span class="badge bg-success">Completed</span>
					{% else %}
					<span class="badge bg-secondary">Not completed</span>
					{% endif %}
					<a class="btn btn-info btn-sm" href="/update/{{ task.id }}">Update</a>
					<a class="btn btn-danger btn-sm" href="/delete/{{ task.id }}"
						>Delete</a
					>
				</div>
			</div>
			{% endfor %}

 {% endblock %}