{% extends "base.html" %}
{% block title %}Task List{% endblock %}

{% block main %}
<div class='container'>
    <h4 class="mt-5">TASK LIST</h4>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
      <div id="liveAlertPlaceholder" class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>task</th>
                <th>Description</th>
                <th>start date</th>
                <th>Due date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr id="task-{{ task.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.deadline }}</td>
                <td>
                    {% if task.complete %}
                    <span class="badge bg-success"><i class="lni lni-checkmark"></i></span>
                    {% else %}
                    <span class="badge bg-secondary"><i class="lni lni-spinner"></i></span>
                    {% endif %}
                    <a href="/update/{{ task.id }}" class="btn btn-info btn-sm">Done</a>
                    <form action="/delete/{{ task.id }}" method="POST" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm btn-delete" data-id="{{ task.id }}" onclick="return confirm('Are you sure you want to delete this task?')">
                            <i class="lni lni-trash-can"></i>
                        </button>
                    </form>
                    <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{ task.id }}">
                        <i class="lni lni-pencil-alt"></i>
                    </a>
                </td>
            </tr>

            <!-- Modal for editing the task -->
            <div class="modal fade" id="editModal{{ task.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ task.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fs-5" id="editModalLabel{{ task.id }}">Update Task</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/edit/{{ task.id }}" method="POST">
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{ task.id }}">
                                    <label for="">Task Title</label>
                                    <input type="text" name="title" class="form-control" value="{{ task.title }}" />
                                    <label for="">Task</label>
                                    <input type="text" name="task" class="form-control" value="{{ task.task }}" />
                                    <label for="">Description (optional)</label>
                                    <input type="text" name="description" class="form-control" value="{{ task.description }}" />
                                    <label for="">Start Date</label>
                                    <input type="date" name="start_date" class="form-control" value="{{ task.start_date }}" />
                                    <label for="">Deadline</label>
                                    <input type="date" name="deadline" class="form-control" value="{{ task.deadline }}" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
